<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/iconfont.css">
	<link rel="stylesheet" href="/public/css/x_style.css">
	

</head>

<body>
	<!-- 页面主体 -->
	<div class="x_main">
		<!-- 页面头部 -->
		<div class="x_head clear">
			<div class="x_logo_left">
				<a href="####">
					<img src="/public/images/login2.jpg" alt="">
					
				</a>
				<p>中关村在线旗下网上商城</p>
			</div>
			<div class="x_logo_right">
				<p>已有Z商城账号? <a href="/api/login">立即登录</a></p>
			</div>
		</div>
		<!-- 页面内容 -->
		<div class="x_content">
			<div class="x_content_head">
				30秒快速注册，加入Z商城
			</div>
			<div class="x_content_main clear">
				<div class="x_register_left">
					<!-- 手机号注册 -->
					<div class="x_phone_register">
						<p><span class="iconfont icon-shouji1"></span>用手机号注册</p>
					</div>
					<!-- 用户填写信息 -->
					<div class="x_register_info">
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>用户名 :&nbsp; 
								</div>
								<input type="text" class="x_input_text">
								<p class="x_remind">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_remind_info">请填写用户名</p>
						</div>
						<!-- 手机号码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>手机号码 :&nbsp; 
								</div>
								<input type="text" class="x_input_text x_iphone_text">
								<p class="x_remind x_remind_tel">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_phone_info">请填写手机号码</p>
						</div>
						<!-- 短信验证码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>短信验证 :&nbsp; 
								</div>
								<input type="text" class="x_message_code">
								<a href="####" class="x_get_mess">获取短信</a>
								<p class="x_remind x_remind_mes">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_message_info">请填写手机号码验证码</p>
						</div>
						<!-- 密码输入 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>密码 :&nbsp; 
								</div>
								<input type="password" class="x_input_text x_input_pass">
								<p class="x_remind x_remindp">
									<span></span>密码格式有误
								</p>
							</div>
							<p class="x_pass_info">请填写密码</p>
						</div>
						<!-- 再次输入密码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>确认密码 :&nbsp; 
								</div>
								<input type="password" class="x_input_text x_reinput">
								<p class="x_remind x_repassAgain"></p>
							</div>
							<p class="x_pass_again">再次输入密码</p>
						</div>
						<!-- 验证码输入 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<!-- 验证码 -->
								<div class="x_phonenum">
									<i>*</i>验证码 :&nbsp; 
								</div>
								<input type="text" class="x_verification_code" id="code_input">
								<input type="hidden">
								<span class="x_picture-verification" id="v_container" style="width:100px; height:36px;"></span>
								<a href="####" id="change_code">换一张</a>
							</div>
							<p class="x_pic_code">请填写图片验证码</p>
						</div>

						<div class="x_argee">
							<input type="checkbox" checked id="ck">
							<p>同意<a href="####">《商城用户协议》</a><a href="####">《隐私权说明》</a></p>
						</div>
						<input type="submit" value="注册" class="x_btn" id="x_rigesterBtn">
					</div>
				</div>
				<div class="x_register_right">
					<p>如果您已经注册，请<a href="####">直接登录</a>或者用以下方式登录：</p>
					<ul>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 页面脚部 -->
		<div class="x_footer">
			<div class="x_footer_info clear">
				<ul>
					<li><a href="####">关于Z商城</a></li>
					<li></li>
					<li><a href="####">联系我们</a></li>
					<li></li>
					<li><a href="####">帮助中心</a></li>
				</ul>
				<p>©2017. 中关村在线 版权所有</p>
			</div>
		</div>
	</div>
</body>
<script src="/public/js/gVerify.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/x_register.js"></script>
</html>